################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
UVSim/.vs
UVSim/UVSim/.vs
*.ipch
*.opendb
UVSim/UVSim/Debug
UVSim/Debug
*.sqlite
*.suo
*.db
*.tlog
*.obj
*.log
*.idb
*.pdb
*.exe
*.ilk
UVSim/UVSim/x64
UVSim/UVSim/UVSim.vcxproj.user
