################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UVSim/.vs/UVSim/v16/ipch/AutoPCH/4a29717f26086e42/WORD.ipch
*.ipch
*.opendb
